/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

/*===========================
  SERVICES
=============================*/

.services-boxes {
  border: 2px solid #cecece;
}

.services-title-border {
  border: 1px solid red;
}

.services-boxes .services-title-border {
  height: 2px;
  width: 40px;
  margin: 15px auto;
  transition: all 0.5s;
}

.services-boxes h4 {
  font-weight: 500;
}
